{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
<ul class="breadcrumb">
        <li><a href="{% url 'front:index' %}">首页</a>
        <li class="active">{{ category_name }}</li>
    </ul>
    {% if category %}

         {% if user.is_staff %}
            <br>
                <a href="/front/category/{{category.id}}/add_ware/">添加商品</a>
            {% endif %}

               {% if wares %}
               <div class="row placeholders">
                {% for ware in wares %}
            
            <div class="col-xs-6 col-sm-3 placeholder">
             
            <a href="{% url 'front:ware' ware.id %}">
              <img src = "/media/{{ ware.picture }}" width="200" height="200" class="img-responsive" alt={{ ware.name }}>
          </a>
            <div class="caption">
              <p><small>
                <font color="red"> ￥{{ ware.price }}</font>
                  </br>
            <a href="{% url 'front:ware' ware.id %}">
                {{ ware.name }}
              </a>
              </small></p>
            </div>
          </div>
          {% endfor %}
        </div>


                
        {% else %}
                <strong>当前分类没有商品</strong>
                {% endif %}

        {% else %}
                 商品分类{{ category_name }}不存在!
    {% endif %}


{% endblock %}


