{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}购物车{% endblock %}

{% block body_block %}
<div>
 <ul class="breadcrumb">
        <li><a href="{% url 'front:index' %}">首页</a>
        <li class="active">购物车</li>
    </ul>
</div>

            <div>
                            <div>
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:1px solid #009999;">
            <tr>
            <td width="390px">商品</td>
            <td width="130px">歌手</td>
            <td width="70px">单价</td>
{#            <td width="70px">数量</td>#}
{#            <td width="80px">小计</td>#}
            <td width="70px">操作</td>
          </tr>
       </table>

    </div>
            {% if items %}
                {% for item in items %}

    <br>
        <table align="center" width="880" cellspacing="0" cellpadding="0" style="border:1px solid #009999;">
          <tr>
            <td width="80px" align="center"><img src="/media/{{ item.ware.picture }}" width="80" height="80"/></td>
            <td width="300px">{{ item.ware }}</td>
            <td width="130px">{{ item.ware.author }}</td>
            <td width="70px"><font color="red">￥{{ item.ware.price }}</font></td>


            <td width="70px">
                <a href="{% url 'front:delete_from_cart' item.ware.id %}">
                删除</a>
            </td>
          </tr>
       </table>
    </div>
                 {% endfor %}
            <br>
            <div>
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:0px solid #009999;">
            <tr>
            <td width="390px"></td>
            <td width="130px"></td>
            <td width="70px"></td>
            <td width="70px"></td>
            <td width="80px"></td>
            <td width="70px"><a href="/front/getOrderInfo">
                <img src="{% static "front/images/jiesuan.png" %}" width="70px"  alt="图片" />
                </a></td>
          </tr>
       </table>

    </div>
            {% else %}
            <br>
            <br>
            <div>
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:0px">
            <tr>
            <td width="300px"></td>
            <td width="580px">购物车空空的哦~，去看看<a href="{% url 'front:index' %}">心仪的商品吧~</a></td>
          </tr>
       </table>
    </div>
            {% endif %}
{% endblock %}
