{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}添加专辑{% endblock %}

{% block body_block %}
    <h1>添加专辑</h1>
    {% if category %}
        <form id="page_form" method="post" enctype="multipart/form-data"
              action="{% url 'front:add_ware' category.id %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor %}

            <input type="submit" name="submit" value="添加商品"/>
        <a href="{% url 'front:manage_ware' category.id %}">返回</a>
        </form>
    {% else %}
        <p>商品分类不存在!</p>
    {% endif %}
{% endblock %}