{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}后台管理{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>后台管理</h1>
        <br><a href="{% url 'front:manage_category' %}"><span class="glyphicon glyphicon-cog">分类管理/商品管理</a>
        <br> <a href="{% url 'front:manage_orders'  %}"><span class="glyphicon glyphicon-cog">订单管理</a>
        <br> <a href="{% url 'front:manage_user' %}"><span class="glyphicon glyphicon-user">用户管理</a>

    </div>
    <div>
        <p></strong>.</p>

    </div>
{% endblock %}
