{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{% url 'front:index' %}">首页</a> <span class="divider">/</span></li>
            <li class="active">{{ category_name }}</li>
        </ul>
        <h3>{{ category_name }}
            {% if category %}

                {% if user.is_staff %}
                    <br>
                    <a href="/front/category/{{ category.id }}/add_ware/">添加商品</a>
                {% endif %}


                {% if wares %}
                    <ul>
                        {% for ware in wares %}
                            <div class="col-sm-4 col-md-3 col-lg-3 ">
                                <div class="row">
                                    <a href="{% url 'front:ware' ware.id %}">
                                        <img src="/media/{{ ware.picture }}" class="img-responsive" width="400px"
                                             alt="暂时无法加载"/>
                                    </a>
                                    <div class="caption">
                                        <p>
                                            <small>
                                                <font color="red"> ￥{{ ware.price }}</font>
                                                </br>
                                                <a href="{% url 'front:ware' ware.id %}"> {{ ware.author }}:{{ ware.name }}</a>

                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>


                        {% endfor %}
                    </ul>
                {% else %}
                   <br> <strong>当前分类没有商品</strong>
                {% endif %}

            {% else %}
                商品分类{{ category_name }}不存在!
            {% endif %}


{% endblock %}