<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
<!--Less styles --> 
   <!-- Other Less css file //different les讲几句s files has different color scheam
  <link rel="stylesheet/less" type="text/css" href="themes/less/simplex.less">
  <link rel="stylesheet/less" type="text/css" href="themes/less/classified.less">
  <link rel="stylesheet/less" type="text/css" href="themes/less/amelia.less">  MOVE DOWN TO activate
  -->
  <!--<link rel="stylesheet/less" type="text/css" href="themes/less/bootshop.less">
  <script src="themes/js/less.js" type="text/javascript"></script> -->
  
<!-- Bootstrap style --> 
    <link id="callCss" rel="stylesheet" href="{% static 'front/bootstrap.min.css' %}" media="screen"/>
    
    <link href="{% static 'front/base.css' %}"  rel="stylesheet" media="screen"/>
<!-- Bootstrap style responsive --> 
  <link href="{% static 'front/bootstrap-responsive.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'front/font-awesome.css' %}" rel="stylesheet" type="text/css">
<!-- Google-code-prettify --> 
  <link href=href="{% static 'front/prettify.css' %}" rel="stylesheet"/>
<!--fav and touch icons -->
    <link rel="shortcut icon" href="themes/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="themes/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="themes/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="themes/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="themes/images/ico/apple-touch-icon-57-precomposed.png">
  <style type="text/css" id="enject"></style> 
    <title>音乐商城-主页</title>
  </head>
<body>
<div id="header">
<div class="container">

<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="/front/"><span class="glyphicon glyphicon-music">音乐商城</a>
    <form class="form-inline navbar-search" method="post" action="#" >
    <input id="srchFld" class="srchTxt" type="text" />
      <button type="submit" id="submitButton" class="btn btn-primary">搜索</button>
    </form>
    <ul id="topMenu" class="nav pull-right">
    <li><a href="{% url 'front:index' %}"><span class="glyphicon glyphicon-home">首页</a></li>
    {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}?next=/front/"><span class="glyphicon glyphicon-remove">退出</a></li>
                    <li><a href="{% url 'front:show_cart' %}"><span class="glyphicon glyphicon-shopping-cart">我的购物车</a> </li>
                    <li><a href="{% url 'front:show_orders' %}"><span class="glyphicon glyphicon-shopping-cart">我的订单</a> </li>
                {% else %}
                    <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-heart-empty">注册</a></li>
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-user">登陆</a></li>
                {% endif %}
                <li><a href="{% url 'front:about' %}"><span class="glyphicon glyphicon-info-sign">关于</a></li>

                 {% if user.is_staff %}
              <li><a href="{% url 'front:administrator' %}"><span class="glyphicon glyphicon-cog">后台管理</a></li>
               {% endif %}
            </ul>
            
  </div>
</div>
</div>
</div>
<!-- Header End====================================================================== -->
<div id="carouselBlk">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
<!-- Sidebar ================================================== -->
      <div class="item active">
      <div class="container">
      <a href="{% url 'front:ware' wares.18.id %}"><img style="width:100%" src="{% static "front/images/lady.jpg" %}  " alt="Lady GaGa Born this way"/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <a href="{% url 'front:ware' wares.11.id %}"><img style="width:100%" src="{% static "front/images/cjy.jpg" %} "alt="蔡健雅 失语者"/></a>
        <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <a href="{% url 'front:ware' wares.9.id %}"><img src="{% static "front/images/big.jpg" %} "alt="BigBang IF YOU"/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      
      </div>
      </div>
       <div class="item">
       <div class="container">
      <a href="{% url 'front:ware' wares.13.id %}"><img src="{% static "front/images/zhm.jpg" %} "alt="张惠妹 阿密特2"/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
       
      </div>
      </div>
       <div class="item">
       <div class="container">
      <a href="{% url 'front:ware' wares.12.id %}"><img src="{% static "front/images/zjl.jpg"%} "alt="周杰伦 床边故事"/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
      </div>
      </div>
       <div class="item">
       <div class="container">
      <a href="{% url 'front:ware' wares.10.id %}"><img src="{% static "front/images/mww.jpg" %}" alt="莫文蔚 不散不见"/></a>
      <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div> 
</div>
<div id="mainBody">
  <div class="container">
  <div class="row">
<!-- Sidebar ================================================== -->
  <div id="sidebar" class="span3">
    <div class="well well-small"><big>唱片分类</big><span class="badge badge-warning pull-right"><span class="glyphicon glyphicon-music"></span></span></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
      {% load front_extras %}
                {% get_category_list %}
      <!--<li class="subMenu open"><a> ELECTRONICS [230]</a>
        <ul>
        <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
        <li><a href="products.html"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>
        <li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
        <li><a href="products.html"><i class="icon-chevron-right"></i>Sound & Vision (15)</a></li>
        </ul>
      </li>
      <li class="subMenu"><a> CLOTHES [840] </a>
      <ul style="display:none">
        <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>
        <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>                        
        <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>  
        <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Clothings  (45)</a></li>
        <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>                        
        <li><a href="products.html"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>                        
        <li><a href="products.html"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>                       
      </ul>
      </li>
      <li class="subMenu"><a>FOOD AND BEVERAGES [1000]</a>
        <ul style="display:none">
        <li><a href="products.html"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
        <li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>                       
        <li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>  
        <li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
        <li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>                        
        <li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>                       
        <li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>                       
        <li><a href="products.html"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>                        
      </ul>
      </li>
      <li><a href="products.html">HEALTH & BEAUTY [18]</a></li>
      <li><a href="products.html">SPORTS & LEISURE [58]</a></li>
      <li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>-->
    </ul>
    <br/>
      <div class="thumbnail">
      <a href="{% url 'front:ware' wares.4.id %}"><img src = "/media/{{ wares.4.picture }}"alt="五月天 最新专辑"/></a>
      <div class="caption">
        <h5>{{wares.4.author}} {{wares.4.name}}</h5>
        <h4 style="text-align:center"> <a class="btn" href="{% url 'front:ware' wares.4.id %}">查看专辑<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="{% url 'front:ware' wares.4.id %}">￥{{wares.4.price}}</a></h4>
      </div>
      </div><br/>
      <div class="thumbnail">
        <a href="{% url 'front:ware' wares.5.id %}"><img src = "/media/{{ wares.5.picture }}" title="宋冬野 鸽子" alt="宋冬野 鸽子">
        <div class="caption">
          <h5>{{wares.5.author}} {{wares.5.name}}</h5>
            <h4 style="text-align:center"> <a class="btn" href="#">查看专辑<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">￥{{wares.5.price}}</a></h4>
        </div>
        </div><br/>
      <div class="thumbnail">
        <img src="{% static "front/images/payment_methods.png" %} " title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
          <h5>Payment Methods</h5>
        </div>
        </div>
  </div>
<!-- Sidebar end=============================================== -->
<div class="span9">   
      <div class="well well-small">
      <h4>热销专辑<small class="pull-right">欲购从速</small></h4>
      <div class="row-fluid">
      <div id="featured" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="{% url 'front:ware' wares.9.id %}"><img src="/media/{{ wares.9.picture }} "alt="BigBang IF YOU"></a>
          <div class="caption">
            <h5>{{wares.9.author}} {{wares.9.name}}</h5>
            <h4><a class="btn" href="{% url 'front:ware' wares.9.id %}">浏览</a> <span class="pull-right">￥{{wares.9.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="{% url 'front:ware' wares.10.id %}"><img src="/media/{{ wares.10.picture }} " alt="不散不见"></a>
          <div class="caption">
            <h5>{{wares.10.author}} {{wares.10.name}}</h5>
            <h4><a class="btn" href="#">浏览</a> <span class="pull-right">￥{{wares.10.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="{% url 'front:ware' wares.11.id %}"><img src="/media/{{ wares.11.picture }}  " alt="蔡健雅 失语者"></a>
          <div class="caption">
            <h5>{{wares.11.author}} {{wares.11.name}}</h5>
             <h4><a class="btn" href="{% url 'front:ware' wares.11.id %}">浏览</a> <span class="pull-right">￥{{wares.11.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="{% url 'front:ware' wares.12.id %}"><img src="/media/{{ wares.12.picture }} " alt="周杰伦 床边故事"></a>
          <div class="caption">
            <h5>{{wares.12.author}} {{wares.12.name}}</h5>
             <h4><a class="btn" href="{% url 'front:ware' wares.12.id %}">浏览</a> <span class="pull-right">￥{{wares.12.price}}</span></h4>
          </div>
          </div>
        </li>
        </ul>
        </div>
         <div class="item">
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="{% url 'front:ware' wares.13.id %}"><img src="/media/{{ wares.13.picture }} " alt="张惠妹 阿密特2"></a>
          <div class="caption">
            <h5>{{wares.13.author}} {{wares.13.name}}</h5>
            <h4><a class="btn" href="{% url 'front:ware' wares.13.id %}">浏览</a> <span class="pull-right">￥{{wares.13.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <i class="tag"></i>
          <a href="{% url 'front:ware' wares.4.id %}"><img src="/media/{{ wares.4.picture }} " alt="五月天 第二人生"></a>
          <div class="caption">
            <h5>{{wares.4.author}} {{wares.4.name}}</h5>
            <h4><a class="btn" href="{% url 'front:ware' wares.4.id %}">浏览</a> <span class="pull-right">￥{{wares.4.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="{% url 'front:ware' wares.5.id %}"><img src="/media/{{ wares.5.picture }} " alt="宋冬野 鸽子"></a>
          <div class="caption">
            <h5>{{wares.5.author}} {{wares.5.name}}</h5>
             <h4><a class="btn" href="{% url 'front:ware' wares.5.id %}">浏览</a> <span class="pull-right">￥{{wares.5.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="{% url 'front:ware' wares.1.id %}"><img src="/media/{{ wares.1.picture }} " alt="孙燕姿 是时候"></a>
          <div class="caption">
            <h5>{{wares.1.author}} {{wares.1.name}}</h5>
             <h4><a class="btn" href="{% url 'front:ware' wares.1.id %}">浏览</a> <span class="pull-right">￥{{wares.1.price}}</span></h4>
          </div>
          </div> 
        </li>
        </ul>
        </div>
         <div class="item">
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <a href="{% url 'front:ware' wares.14.id %}"><img src="/media/{{ wares.14.picture }}  " alt="安奈室美惠 play"></a>
          <div class="caption">
            <h5>{{wares.14.author}} {{wares.14.name}}</h5>
            <h4><a class="btn" href="{% url 'front:ware' wares.5.id %}">浏览</a> <span class="pull-right">￥{{wares.14.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="{% url 'front:ware' wares.15.id %}"><img src="/media/{{ wares.15.picture }}  "  alt="蔡依林 我呸！"></a>
          <div class="caption">
            <h5>{{wares.15.author}} {{wares.15.name}}</h5>
            <h4><a class="btn" href="{% url 'front:ware' wares.14.id %}">浏览</a> <span class="pull-right">￥{{wares.15.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="{% url 'front:ware' wares.16.id %}"><img src="/media/{{ wares.16.picture }}  "alt="崔健 新长征路上"></a>
          <div class="caption">
            <h5>{{wares.16.author}} {{wares.16.name}}</h5>
             <h4><a class="btn" href="{% url 'front:ware' wares.16.id %}">浏览</a> <span class="pull-right">￥{{wares.16.price}}</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="{% url 'front:ware' wares.17.id %}"><img src="/media/{{ wares.17.picture }}   " alt="麦浚龙 罗生门"></a>
          <div class="caption">
            <h5>{{wares.17.author}} {{wares.17.name}}</h5>
             <h4><a class="btn" href="{% url 'front:ware' wares.17.id %}">浏览</a> <span class="pull-right">￥{{wares.17.price}}</span></h4>
          </div>
          </div>
        </li>
        </ul>
        </div>
         <!--<div class="item">
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/2.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/3.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/4.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a href="product_details.html"><img src="themes/images/products/5.jpg" alt=""></a>
          <div class="caption">
            <h5>Product name</h5>
             <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
          </div>
          </div>
        </li>
        </ul>
        </div>-->
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
        </div>
        </div>
    </div>
    <h4>最新专辑</h4>
        <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
          <a  href="{% url 'front:ware' wares.6.id %}"><img width="300px" height="300px" src="/media/{{ wares.6.picture }}" alt="张韶涵 再见之前"/></a>
          <div class="caption">
            <h5>{{wares.6.author}} {{wares.6.name}}</h5>
            <p> 
            暌违多年，天后来袭. 
            </p>
           
            <h4 style="text-align:center"> <a class="btn" href="{% url 'front:ware' wares.6.id %}">查看专辑<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">￥{{wares.6.price}}</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="{% url 'front:ware' wares.0.id %}"><img width="250px" height="250px" src="/media/{{ wares.0.picture }}" alt="孙燕姿 克卜勒"/></a>
          <div class="caption">
            <h5>{{wares.0.author}} {{wares.0.name}}</h5>
            <p> 
            孕后首发 重返歌坛 
            </p>
           <h4 style="text-align:center"> <a class="btn" href="{% url 'front:ware' wares.0.id %}">查看专辑<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">￥{{wares.0.price}}</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="{% url 'front:ware' wares.2.id %}"><img width="300px" height="300px" src="/media/{{ wares.2.picture }}" alt="Beyonce HALO"/></a>
          <div class="caption">
            <h5>{{wares.2.author}} {{wares.2.name}}</h5>
            <p> 
            国际水准 不容错过. 
            </p>
             <h4 style="text-align:center"> <a class="btn" href="{% url 'front:ware' wares.2.id %}">查看专辑<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">￥{{wares.2.price}}</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
         <a  href="{% url 'front:ware' wares.3.id %}"><img width="300px" height="300px" src="/media/{{ wares.3.picture }}" alt="Katy pretty ET"/></a>
          <div class="caption">
            <h5>{{wares.3.author}} {{wares.3.name}}</h5>
            <p> 
            水果粉的又一次狂欢. 
            </p>
            <h4 style="text-align:center"> <a class="btn" href="{% url 'front:ware' wares.3.id %}">查看专辑<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">￥{{wares.3.price}}</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="{% url 'front:ware' wares.7.id %}"><img width="300px" height="300px" src="/media/{{ wares.7.picture }}" alt="王菲 寓言"/></a>
          <div class="caption">
            <h5>{{wares.7.author}} {{wares.7.name}}</h5>
            <p> 
            多年前的实验之声. 
            </p>
            <h4 style="text-align:center"></a> <a class="btn" href="{% url 'front:ware' wares.7.id %}">查看专辑 <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">￥{{wares.7.price}}</a></h4>
          </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <a  href="{% url 'front:ware' wares.8.id %}"><img width="300px" height="300px" src="/media/{{ wares.8.picture }}" alt="彭佳慧 大龄女子"/></a>
          <div class="caption">
            <h5>{{wares.8.author}} {{wares.8.name}}</h5>
            <p> 
            金曲歌后 实至名归. 
            </p>
             <h4 style="text-align:center"> <a class="btn" href="{% url 'front:ware' wares.8.id %}">查看专辑<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">￥{{wares.8.price}}</a></h4>
          </div>
          </div>
        </li>
        </ul> 

    </div>
    </div>
  </div>
</div>
<!-- Footer ================================================================== -->
  <div  id="footerSection">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h5>账户</h5>
        <a href="{% url 'front:index' %}"><span class="glyphicon glyphicon-home">首页</a>
        <a href="{% url 'front:show_cart' %}"><span class="glyphicon glyphicon-shopping-cart">我的购物车</a>
        <a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-heart-empty">注册</a>
        <a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-user">登陆</a> 
        <a href="{% url 'auth_logout' %}?next=/front/"><span class="glyphicon glyphicon-remove">退出</a>
       </div>
      <div class="span3">
        <h5>商家信息</h5>
        <p>电话：17865135006</p>  
        <p>地址：山东大学齐鲁软件学院<p>  
        <a href="mailto:someone@microsoft.com?subject=Hello%20again">邮箱</a>  
        <p>品牌名称:山大音乐商城</p>
       </div>
      
      <div id="socialMedia" class="span3 pull-right">
        <h5>相关软件</h5>
        <a href="http://music.163.com/"><img width="60" height="60" src="{% static "front/images/wyyyy.jpg" %} " title="网易云音乐" alt="网易云音乐"/></a>
        <a href="http://weibo.com/2443349917/profile?topnav=1&wvr=6"><img width="60" height="60" src="{% static "front/images/wb.jpg" %} "  title="微博" alt="微博"/></a>
        <img width="60" height="60" src="{% static "front/images/ewm.jpg" %} "title="扫描二维码 关注更多商品信息" alt="扫描二维码 关注更多商品信息"/>
       </div> 
     </div>
    <p class="pull-right">&copy;音乐商城</p>
  </div><!-- Container End -->
  </div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
  <script src="{% static 'front/jquery.js' %}" type="text/javascript"></script>
  <script src="{% static 'front/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'front/prettify.js' %}"></script>
  
  <script src="{% static 'front/bootshop.js' %}"></script>
    <script src="{% static 'front/jquery.lightbox-0.5.js' %}"></script>
  
  
  <!-- Themes switcher section ============================================================================================= -->

</body>
</html>