{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <ul class="breadcrumb">
        <li><a href="{% url 'front:manage_category' %}"><big>分类管理</big></a><span class="divider">/</span>
        </li>
        <li class="active"><big>{{ category_name }}</big></li>
    </ul>
    <h2><a href="/front/category/{{ category.id }}/add_ware/">添加专辑</a></h2>
    <hr class="soft"/>

    <br class="clr"/>

    {% if category %}


        {% if wares %}
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:1px solid;background:black;">
            <tr>
            <td width="180px"><p><font color="#FFFFFF">封面</font></p></td>
            <td width="180px"><p><font color="#FFFFFF">歌手</font></p></td>
            <td width="150px"><p><font color="#FFFFFF">名称</font></p></td>
            <td width="150px"><font color="#FFFFFF">单价</font></td>
            <td width="70px"><font color="#FFFFFF">编辑</font></td>
            <td width="70px"><font color="#FFFFFF">删除</font></td>
          </tr>
       </table>
            <!--<div class="tab-content">
                <div class="tab-pane  active" id="blockView">-->
                        {% for ware in wares %}
                        <br>
        <table align="center" width="880" cellspacing="0" cellpadding="0" style="border:1px solid;">
          <tr>
            <td width="100px" align="center"><a href="{% url 'front:ware' ware.id %}"><img src="/media/{{ ware.picture }}" width="80" height="80"/></a></td>
            <td width="100px">{{ ware.author }}</td>
            <td width="90px">{{ ware }}</td>
            <td width="90px"><font color="red">￥{{ ware.price }}</td>
            <td width="40px"><a href="#">编辑</a></td>
            <td width="40px"><a href="#">删除</a></font></td>
          </tr>
       </table>

                                <!--<a href="{% url 'front:ware' ware.id %}">
                                </a>

                                        <small>{{ ware.author }}&nbsp;&nbsp;{{ ware }}</small>
                                    <a href="#">编辑</a>
                                    <a href="#">删除</a>
                                    <big><font color="red">￥{{ ware.price }}</big></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>

                                    <!--<button type="submit" class="btn btn-large btn-primary pull-left">加入购物车<i class=" icon-shopping-cart"></i></button>
                                </form>-->


                        {% endfor %}
                </div>
            </div>

        {% else %}
            <p style="text-align:center;font-size:20px"><big>当前分类没有商品</big></p>
        {% endif %}

    {% else %}
        商品分类{{ category_name }}不存在!
    {% endif %}


{% endblock %}


