{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}购物车{% endblock %}

{% block body_block %}
<ul class="breadcrumb">
    <li><a href="{% url 'front:index' %}"><big>首页</big></a> <span class="divider">/</span></li>
    <li class="active"><big>购物车</big></li>
    </ul> 
{% if items %}
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:1px solid;background:black;">
            <tr>
            <td width="380px"><p><font color="#FFFFFF">商品</font></p></td>

            <td width="130px"><font color="#FFFFFF">歌手</font></td>
            <td width="70px"><font color="#FFFFFF">单价</font></td>
            <td width="70px"><font color="#FFFFFF">操作</font></td>
          </tr>
       </table>
                {% for item in items %}
                
   <br>
        <table align="center" width="880" cellspacing="0" cellpadding="0" style="border:1px solid;">
          <tr>
            <td width="80px" align="center"><img src="/media/{{ item.ware.picture }}" width="80" height="80"/></td>
            <td width="300px">{{ item.ware }}</td>
            <td width="130px">{{item.ware.author}}</td>
            <td width="70px"><font color="red">￥{{ item.ware.price }}</font></td>

            <td width="70px">
                <a href="{% url 'front:delete_from_cart' item.ware.id %}">
                删除</a>
            </td>
          </tr>
       </table>
    {% endfor %}

                 
            <br>
            <div>
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:0px solid;">
            <tr>
            <td width="390px"></td>
            <td width="130px"></td>
            <td width="70px"></td>
            <td width="70px"></td>
            <td width="80px"></td>
            <td width="350px">
                <hr class="soft"/>
                已选择<font color="red">{{ num }}</font>件商品,
                总价:<font color="red" size="5pt">￥{{ price }}</font>
                <hr class="soft"/>
                <div class="row">
                <a href="{% url 'front:index' %}"class="btn btn-default btn-lg active" role="button" style="float:left"><p style="text-align:center">继续逛逛</p></a>
<a href="{% url 'front:get_order_info' %}">
                    
                    <img style="float:right;"src="{% static "front/images/jiesuan.png" %}" width="85px"  alt="图片" />
                </a>
            </div>
            </td>
          </tr>
       </table>

    </div>
            {% else %}
            <br>
            <br>
            <div>
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:0px">
            <tr>
            <td width="300px"></td>
            <td width="580px"><h4>购物车空空的哦~，去看看<a href="{% url 'front:index' %}">心仪的商品吧~</a></h4></td>
          </tr>
       </table>
    </div>
            {% endif %}
{% endblock %}
