{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}提交成功{% endblock %}

{% block body_block %}

<br>
            <br>
            <div>
        <table align="center" width="880" height="40" cellspacing="0" cellpadding="0" style="border:0px">
            <tr>
            <td width="300px"></td>
            <td width="580px"><h4>订单提交成功啦O(∩_∩)O<a href="{% url 'front:show_orders' %}"><big><font color="blue">点此查看订单</font></big></a></h4></td>
          </tr>
       </table>
    </div>
{% endblock %}
